@charset "UTF-8";

h2 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  color: white;
}

h2:before {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid #000;
}

.prestarter {
  background: #FF91AA;
}

.starter {
  background: #FFAC2D;
}

.basic {
  background: #00B4DC;
}

.advance {
  background: #5ABE50;
}

.pro {
  background: #5069BE;
}

.master {
  background: #6E6E6E;
}
