@charset "UTF-8";

h2 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  text-color: white;
}

h2:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid #000;
}

.prestarter {
  background: #fc4903;
}

.starter {
  background: #fc03e7;
}

.basic {
  background: #039dfc;
}

.advance {
  background: #fcce03;
}

.pro {
  background: #37b039;
}

.master {
  background: #7d25db;
}
