@charset "UTF-8";

.prestarter {
  color: white;
  background: #FF91AA;
  border: 3px solid #ff6185;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  width: 100%;
}

.starter {
  color: white;
  background: #FFAC2D;
  border: 3px solid #e88c00;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.basic {
  color: white;
  background: #00B4DC;
  border: 3px solid #0085a3;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.advance {
  color: white;
  background: #5ABE50;
  border: 3px solid #207018;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.pro {
  color: white;
  background: #5069BE;
  border: 3px solid #001e85;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.master {
  color: white;
  background: #6E6E6E;
  border: 3px solid #404040;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  width: 100%;
}

/*
h2:before {
  position: absolute;
  padding: 5px;
  top: -5px;
  left: -5px;
  padding: 1rem 2rem calc(1rem + 10px);
  content: '';
  border: 3px solid #000;
  border-radius:5px;
}
*/
