.g-slide{
position: relative;
/*margin: 5px 0 5px 0;*/
padding-bottom: 56.25%;
}
.g-slide iframe {
box-shadow: 2px 2px 10px;
border: 0;
width: 80%;
height: 80%;
position: absolute;
left: 0;
right: 0;
margin: auto;
border-radius: 20px;
}

h1 {
  border-style: none !important;
}

.title img {
margin-right: 5px;
}

h1 .title {
  font-size: 0.5px !important;
  line-height: 1.0em;
}

.box_img{
  background-image: url("https://drive.google.com/uc?id=14leli_r1pEL7w_RI9f0ds1Xk5j4JPvoz");
  background-size: 50%, 50%;
  background-repeat: repeat, repeat;
}

.box_white {
    padding: 0 1em;
    margin: 2em 10;
    font-weight: bold;
    background: #FFF;
}
.box_white p {
    margin: 0; 
    padding: 0;
}

.box_gray {
    padding: 0.5em 1em;
    margin: 2em 10;
    font-weight: bold;
    background: #f6f6f6;
}
.box_gray p {
    margin: 0; 
    padding: 0;
}

.box_orange {
    padding: 0.5em 1em;
    margin: 2em 10;
    font-weight: bold;
    background: #FFEFD5;
}
.box_orange p {
    margin: 0; 
    padding: 0;
}

.starter-a {
  padding: 0.6em 0.5em;/*文字の上下 左右の余白*/
  font-size:0.5rem;
  color: #FFFFFF;/*文字色*/
}

.starter-b {
  padding: 0.6em 0.5em;/*文字の上下 左右の余白*/
  font-size:0.5rem;
  color: #f6f6f6;/*文字色*/
}

.starter-c {
  padding: 0.6em 0.5em;/*文字の上下 左右の余白*/
  font-size:0.5rem;
  color: #FFEFD5;/*文字色*/
}

ul.menu {
  border: solid 2px #FFAC2D;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}

ul.menu li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}

ul.menu li:before {
  
  font-family: "Font Awesome 5 Free";
  content: "\f138";/*アイコンの種類*/
  position: absolute;
  left : 1em;/*左端からのアイコンまでの距離*/
  color: #FFAC2D;/*アイコン色*/
}






