@charset "UTF-8";

/*-------ここから岸本-------*/

h4 {
  margin-top: 5px;
  position: relative;
  padding: 1rem 2rem;
  text-align: center;
  color: #FFAC2D;
  border-radius: 0 10px 10px 10px;
  background: #ffedd1;
  width: 324px;
}

h4:before {
  font-size: 15px;
  font-size: 1.5rem;
  position: absolute;
  top: -24px;
  left: 0;
  height: 24px;
  padding: 0 1em;
  content: '\ここがポイント！';
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #FFAC2D;
}

.prestarter {
  color: white;
  background: #FF91AA;
  border: 5px solid #ff6185;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.starter {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: #FFAC2D;
  border: 3px solid #e88c00;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.basic {
  color: white;
  background: #00B4DC;
  border: 3px solid #0085a3;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.advance {
  color: white;
  background: #5ABE50;
  border: 3px solid #207018;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.pro {
  color: white;
  background: #5069BE;
  border: 3px solid #001e85;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.master {
  color: white;
  background: #6E6E6E;
  border: 3px solid #404040;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
}

/*-------岸本ここまで-------*/

.box0 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #FFF;
    border-radius: 10px;/*角の丸み*/
}
.box0 p {
    margin: 0; 
    padding: 0;
}

.my-orange {color: #ffac2c}

ul.menu {
  border-radius: 30px;
  background: #fffaf1;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}

ul.menu li {
  font-size:2rem;
  font-weight:bold;
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

/*全体*/
.hidden_box_red {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾（赤）*/
.hidden_box_red label {
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size:  2rem; 
    background-color: #E94727;
    /*border: solid 2px black;*/
    border-radius: 10px;
    cursor :pointer;
    box-shadow: 0 4px 6px #7e8183e6;
}

/*ボタンホバー時*/
.hidden_box_red label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box_red input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box_red .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box_red input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box_blue {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾（青）*/
.hidden_box_blue label {
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size:  2rem; 
    /*border: solid 2px black;*/
    background-color: #00B4E9;
    border-radius: 10px;
    cursor :pointer;
    box-shadow: 0 4px 6px #7e8183e6;
}

/*ボタンホバー時*/
.hidden_box_blue label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box_blue input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box_blue .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box_blue input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
.hidden_box_green {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾（緑）*/
.hidden_box_green label {
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size:  2rem; 
    /*border: solid 2px black;*/
    background-color: #24B4BC;
    border-radius: 10px;
    cursor :pointer;
    box-shadow: 0 4px 6px #7e8183e6;
}

/*ボタンホバー時*/
.hidden_box_green label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box_green input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box_green .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box_green input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
